<div class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to "FB", root_path, :class => "navbar-brand" %>
		</div> 
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Friend Requests: <%= current_user.pending_requests.count %></a>
					<% if current_user.pending_requests.any? %>
					<ul class="dropdown-menu request-menu">
						<% current_user.pending_requests.each do |request| %>
						<ul class="request list-inline" data-request="<%= request.id %>">
							<li class="name">
								<%= request.user.name %>
							</li>
							<li class="req-links"><%= link_to "Accept", friendship_path(request), method: :put %>
								<%= link_to "Reject", friendship_path(request), method: 'delete' %></li>
						</ul>
						<% end %>
					</ul>
					<% end %>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Account", current_user %></li>
						<div class="divider"></div>
						<li><%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %></li>
					</ul>
				</li>
			<% else %>
				<button class="btn btn-default navbar-btn"><%= link_to 'Sign In', new_user_session_path %></button>
			<% end %>
		</ul>
	</div>
</div>