<div class="post-container" data-post=<%= post.id %>>
	<div class="post-header">
		<%= render 'gravatar', user: post.user %>
		<%= link_to post.user.name, post.user %>
		<small><%= post.created_at.strftime("%B %d, %Y, %I:%M %p") %></small>
	</div>
	<div class="post-content">
		<div class="text">
			<%= post.content %>
		</div>
		<div class="controls post-controls">
			<div class="add-like">
				<%= render 'like_unlike', subject: post %>
			</div>
		</div>
	</div>
	<div class="post-footer">
		<div class="user-likes">
			<%= render 'user_likes', subject: post %>
		</div>
	</div>
	<div class="post-comments">
		<% if post.comments.any? %>
			<% post.comments.each do |comment| %>
				<%= render 'comments/comment', comment: comment %>
			<% end %>
		<% end %>
	</div>
	<div class="new-comment">
		<%= render 'comments/form', :subject => post %>
	</div>
</div>